.large-player {
    width: 100%;
    height: 654px;
}

.featured-player {
    width: 1024px;
    height: 576px;
    position: relative;
}

.featured-player-wrapper {
    width: 1024px;
    height: 626px;
    padding: 0 38px;
}

.featured-player-details {
    width: 1024px;
    height: 50px;
    background-color: black;
}

.twitch-logo {
    height:30px;
    width: 30px;
    padding: 10px 5px 10px 10px;
    float: left;
}

.player-name {
    height: 42px;
    display: inline-block;
    float: left;
    font-size: 18pt;
    padding-left: 8px;
    padding-top: 8px;
}

.player-pb {
    height: 42px;
    display: inline-block;
    float: left;
    padding-right: 8px;
    padding-top: 8px;
    font-size: 18pt;
    text-align: right;
    font-family: "alarm clock", sans-serif;
}

.featured-player-details .player-name {
    width: 787px;
}

.featured-player-details .player-pb {
    width: 176px;
}

.small-player-details .player-name {
    width: 197px;
}

.small-player-details .player-pb {
    width: 126px;
}

.row {
    float: left;
    display: inline-block;
    margin-right: 14px;
    margin-bottom: 14px;
}

body {
    width: 1920px;
    height: 1080px;
    color: white;
    margin: 0;
    padding: 0;
    background-image: url("/bundles/mgsr-unmetal-unleashed/graphics/img/background.png");
    background-color: transparent;
}

body.preload {
    animation-duration: 0s !important;
    -webkit-animation-duration: 0s !important;
    transition:background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important;
}

.statistics {
    width: 100%;
    height: 356px;
}

.left-column {
    width: 1100px;
    float: left;
    margin-top: 38px;
}

.right-column {
    width: 820px;
    float: left;
    margin-top: 38px;
}

.small-player {
    width: 384px;
    height: 216px;
    position: relative;
}

.player-startup {
    background-color: rgba(0,0,0,0);
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
}

.player-startup.showing {
    animation: ease-in-out slide_along_down 3s;
}

.player-startup.hiding {
    background-color: rgba(0,0,0,0);
    animation: ease-in-out slide_along_up 3s;
    animation-fill-mode: forwards;
}

.player-open-slot {
    opacity: 0;
    background-color: coral;
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
}

.player-afk {
    opacity: 0;
    background-color: palegreen;
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
}

.small-player-details {
    width: 384px;
    height: 50px;
    color: white;
    background-color: rgba(0,0,0,100);
}

.small-player-details.showing {
    animation: slide_down 1.5s ease-in-out;
}

.small-player-details.hidden {
    color: transparent;
    background-color: rgba(0,0,0,0);
}

.small-player-details.hiding {
    color: transparent;
    animation: slide_up 2s ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

.small-player-details.hidden .twitch-logo,
.small-player-details.hiding .twitch-logo {
    display: none;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: black;
    text-align: center;
    font-size: 42px;
}

@keyframes slide_down {
    from {
        transform: translateY(-216px);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes slide_up {
    from {
        transform: translateY(0);
    }

    75% {
        transform: translateY(-216px);
        background-color: rgba(0,0,0,100);
    }

    to {
        transform: translateY(-216px);
        background-color: rgba(0,0,0,0);
    }
}

@keyframes slide_along_up {
    from {
        background-color: rgba(0, 0 ,0, 0);
        height: 266px;
    }
    33% {
        background-color: rgba(0, 0 ,0, 100);
        height: 266px;
    }

    80% {
        height: 50px;
    }
    to {
        background-color: rgba(0, 0 ,0, 0);
        height: 50px;
    }
}

@keyframes slide_along_down {
    from {
        background-color: rgba(0, 0 ,0, 100);
        height: 0;
    }
    40% {
        height: 216px;
    }
    70% {
        opacity: 50;
    }

    to {
        background-color: rgba(0, 0 ,0, 0);
    }
}
